.nav-free {
  background-color: #4ECDC4;
}

.parallax-container {
  height: 340px;
}

.contractus-banner {
  position: relative;
  top: 100px;
}

.contractus-font {
  font-family: 'Pacifico', cursive;
  text-shadow: 1px 1px 3px black; 
}

.contractus-text-shadow{
  text-shadow: 1px 1px 3px black; 
}

.contractus-mt1 {
  margin-top: 40px;
}

.btn-register {
  background-color: #8BC34A !important;
  border-radius: 30px;
}

.btn-login {
  background-color: transparent !important;
  border-radius: 30px;
  color: white;
  border: 3px solid white;
}

.contractus-footer{
  background-color: #F9F9F9 !important;
}