<nav class="nav-free">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Contractus</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/login">Login</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="/login"></a>
  </li>
</ul>


<div class="parallax-container">
  <div class="parallax parallax-contractus">
    <img class="contractus-img" src="https://images.unsplash.com/photo-1516321318423-f06f85e504b3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=51dfca5c7592a5262d50b0c3c66fe9ca&auto=format&fit=crop&w=750&q=80">
  </div>
  <div class="container-fluid contractus-banner">
    <div class="row">
      <div class="col s12 m12 l11 offset-l1">
        <h1 class="white-text contractus-font">Contractus</h1>
        <h5 class="white-text">Encuentra y publica los mejores proyectos Freelance</h5>
      </div>
      <div class="row">
        <div class="col offset-l1 contractus-mt1">
          <a routerLink="/register" class="btn btn-login btn-large">Empezar a trabajar</a>
        </div>
        <div class="col l4 contractus-mt1">
          <a routerLink="/new-project" class="btn btn-register btn-large z-depth-5">Publicar proyecto</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section white">
  <div class="row container">
    <div class="col s12 m12 l4 center">
      <i class="material-icons large indigo-text">cloud_upload</i>
      <h2 class="header">Registrate</h2>
      <p class="grey-text text-darken-3 lightten-3">Crea tu curriculum, muestra lo que sabes y de lo que estas hecho </p>
    </div>
    <div class="col s12 m12 l4 center">
      <i class="material-icons large indigo-text">cloud_upload</i>
      <h2 class="header">Postulate</h2>
      <p class="grey-text text-darken-3 lightten-3">Aplica a todas las propuestas en las que cumpla tu perfil</p>
    </div>
    <div class="col s12 m12 l4 center">
      <i class="material-icons large indigo-text">cloud_upload</i>
      <h2 class="header">Pago</h2>
      <p class="grey-text text-darken-3 lightten-3">No te procupes más por el pago que nosotros nos encargamos</p>
    </div>
  </div>
</div>
<footer class="page-footer light-green">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Contractus
    </div>
  </div>
</footer>
