<nav class="nav-free">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Contractus</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <!--<ul class="right hide-on-med-and-down">
      <li>
        <a href="sass.html">Sass</a>
      </li>
      <li>
        <a href="badges.html">Components</a>
      </li>
      <li>
        <a href="collapsible.html">Javascript</a>
      </li>
      <li>
        <a href="mobile.html">Mobile</a>
      </li>
    </ul>-->
  </div>
</nav>

<!--<ul class="sidenav" id="mobile-demo">
  <li>
    <a href="sass.html">Sass</a>
  </li>
  <li>
    <a href="badges.html">Components</a>
  </li>
  <li>
    <a href="collapsible.html">Javascript</a>
  </li>
  <li>
    <a href="mobile.html">Mobile</a>
  </li>
</ul>-->

<div class="parallax-container">
  <div class="parallax">
    <img src="https://s3-eu-west-1.amazonaws.com/gtglive/public/image/freelancing-tips.jpg">
  </div>
  <div class="container-fluid contractus-banner">
    <div class="row">
      <div class="col s12 m12 l11 offset-l1">
        <h1 class="white-text">Contractus</h1>
        <h5 class="white-text">Encuentra y publica los mejores proyectos Freelance</h5>
      </div>
      <div class="row">
        <div class="col l2 center offset-l1 contractus-mt1">
          <a [routerLink]="login" class="btn btn-login btn-large">Inicia sesión</a>
        </div>
        <div class="col l2  center contractus-mt1">
          <a [routerLink]="register" class="btn btn-register btn-large">Registrate</a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="section white">
  <div class="row container contractus-mt1">
    <div class="col s12 m12 l4 center">
      <i class="material-icons large indigo-text">cloud_upload</i>
      <h2 class="header">Registrate</h2>
      <p class="grey-text text-darken-3 lightten-3">Crea tu curriculum, muestra lo que sabes y de lo que estas hecho </p>
    </div>
    <div class="col s12 m12 l4 center">
      <i class="material-icons large indigo-text">cloud_upload</i>
      <h2 class="header">Postulate</h2>
      <p class="grey-text text-darken-3 lightten-3">Aplica a todas las propuestas en las que cumpla tu perfil</p>
    </div>
    <div class="col s12 m12 l4 center">
      <i class="material-icons large indigo-text">cloud_upload</i>
      <h2 class="header">Pago</h2>
      <p class="grey-text text-darken-3 lightten-3">No te procupes más por el pago que nosotros nos encargamos</p>
    </div>
  </div>
</div>
<footer class="page-footer light-green">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Contractus
    </div>
  </div>
</footer>
