<nav class="nav-free">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Contractus</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/portal">Inicio</a>
      </li>
      <li>
        <a routerLink="/perfil">Usuario</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="/portal">Inicio</a>
  </li>
  <li>
    <a routerLink="/perfil">Usuario</a>
  </li>
</ul>


<div class="container-fluid">
  <div class="row">
    <div class="col s12 m12 l4">
      <div class="container">
        <div class="row">
          <div class="col s12">
            <h4>Luis Daniel Gordo Navas</h4>
          </div>
          <div class="col s12 center">
            <img src="/assets/img/portal.png" alt="imgPerfil" class="responsive-img circle" style="height: 100px; width: 100px;">
          </div>
          <div class="col s12">
            <div class="collection">
              <a routerLink="" class="collection-item">Datos Basicos</a>
              <a routerLink="" class="collection-item">Perfil profesional</a>
              <a routerLink="" class="collection-item">Portafolio</a>
              <a routerLink="" class="collection-item">Facturación</a>
              <a routerLink="" class="collection-item">Mis postulaciones</a>
              <a routerLink="" class="collection-item">Mis contratos</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l8">

    </div>
  </div>
</div>

<footer class="page-footer light-green">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Contractus
    </div>
  </div>
</footer>
