.nav-free {
  background-color: #4ECDC4;
}

.parallax-container {
  height: 300px;
}

.parallax-contractus img {
  transform: skewY(10deg);
  background-size: cover;
  transform-origin: 0;
}

.contractus-banner {
  position: relative;
  top: 100px;
}

.contractus-font {
  font-family: 'Pacifico', cursive;
}

.contractus-mt1 {
  margin-top: 40px;
}

.btn-register {
  background-color: #8BC34A !important;
  border-radius: 30px;
}

.btn-login {
  background-color: transparent !important;
  border-radius: 30px;
  color: white;
  border: 3px solid white;
}



header,
main,
footer {
  padding-left: 300px;
}

.parallax-container {
  height: 550px;
}

.contractus-banner {
  position: relative;
  top: 100px;
}

.contractus-font {
  font-family: 'Pacifico', cursive;
}

.contractus-mt1 {
  margin-top: 40px;
}

.btn-register {
  background-color: #8BC34A !important;
  border-radius: 30px;
}

.btn-login {
  background-color: transparent !important;
  border-radius: 30px;
  color: white;
  border: 3px solid white;
}

h5,
h1.white-text {
  text-shadow: 3px 3px 4px black;
}

