<nav class="white">
    <div class="nav-wrapper">
        <a href="#!" class="brand-logo black-text">Contractus</a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a routerLink="/login" class="black-text">Login</a>
            </li>
        </ul>
    </div>
</nav>
<ul class="sidenav" id="mobile-demo">
    <li>
        <a routerLink="/login" class="black-text">Login</a>
    </li>
</ul>

<div class="parallax-container">
    <div class="parallax parallax-contractus">
        <img class="contractus-img" src="https://images.unsplash.com/photo-1538691929598-f3c649a7b92e?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=cb358769c806589fb5884d76c7226aeb&auto=format&fit=crop&w=1500&q=80">
    </div>
    <div class="container-fluid contractus-banner">
        <div class="row center">
            <div class="col s12 m12 l12">
                <h1 class="white-text contractus-font">Contractus</h1>
                <h5 class="white-text">Encuentra y publica los mejores proyectos Freelance</h5>
            </div>
            <div class="row center">
                <div class="col l12 contractus-mt1 contractusP">
                    <a routerLink="/register" class="btn btn-login btn-large">Empezar a trabajar</a>
                    <a routerLink="/new-project" class="btn btn-register btn-large z-depth-5">Publicar proyecto</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="section white">
    <div class="container-fluid">
        <div class="row">
            <div class="col s12 m12 l6">
                <img src="https://images.unsplash.com/photo-1517400777233-4562ed6ebc63?ixlib=rb-0.3.5&s=704e3976b820ef195bcd67062ef887c2&auto=format&fit=crop&w=1489&q=80" alt="Registrate" class="responsive-img">
            </div>
            <div class="col s12 m12 l6 center contractus-mt2 contractus-mt1">
                <h3>Registrate</h3>
                <p class="grey-text text-darken-3 lightten-3">Crea tu curriculum, muestra lo que sabes y de lo que estas hecho.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6 center contractus-mt2 contractus-mt1">
                <h3>Postulate</h3>
                <p class="grey-text text-darken-3 lightten-3">Aplica a todas las propuestas en las que cumpla tu perfil.</p>
            </div>
            <div class="col s12 m12 l6">
                <img src="https://images.unsplash.com/photo-1512686096451-a15c19314d59?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=52356ca48e4027e1f34c5c58255696f3&auto=format&fit=crop&w=1500&q=80" alt="Registrate" class="responsive-img">
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6">
                <img src="https://images.unsplash.com/photo-1514302240736-b1fee5985889?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=bd67c5d168faa96f37e825a562005e12&auto=format&fit=crop&w=1567&q=80" alt="Registrate" class="responsive-img">
            </div>
            <div class="col s12 m12 l6 center contractus-mt2 contractus-mt1">
                <h3>Selecciona</h3>
                <p class="grey-text text-darken-3 lightten-3">Si tu perfil es seleccionado preparate para empezar.</p>
            </div>
        </div>
        <div class="row">
            <div class="col s12 m12 l6 center contractus-mt2 contractus-mt1">
                <h3>Pago</h3>
                <p class="grey-text text-darken-3 lightten-3">No te procupes más por el pago que nosotros nos encargamos.</p>
            </div>
            <div class="col s12 m12 l6">
                <img src="https://images.unsplash.com/photo-1485458029194-00cff7de3ef7?ixlib=rb-0.3.5&s=d18ccde551d1b30cf5ecde6dfb4e4a3e&auto=format&fit=crop&w=1500&q=80" alt="Registrate" class="responsive-img">
            </div>
        </div>
    </div>
</div>
<footer class="page-footer contractus-color-footer">
    <div class="footer-copyright">
        <div class="container black-text">
            © 2014 Copyright Contractus
        </div>
    </div>
</footer>