<nav class="nav-free">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Contractus</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/user">Usuario</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="/user">Usuario</a>
  </li>
</ul>


<!--<div class="parallax-container">
  <div class="parallax parallax-contractus">
    <img class="contractus-img" src="https://images.unsplash.com/photo-1510519138101-570d1dca3d66?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=45fbe9046945ce711c299b8c6d26d998&auto=format&fit=crop&w=731&q=80">
  </div>
  <div class="container-fluid ">
    <div class="row">
      <div class="col s12 m12 l12 center">
        <h1 class="white-text contractus-font">Contractus</h1>
        <h5 class="white-text">Encuentra los mejores proyectos</h5>
      </div>
      <div class="row">
        <div class="col s12 m12 l8 contractus-mt1 offset-l2">
          <nav class="light-green">
            <div class="nav-wrapper">
              <form>
                <div class="input-field">
                  <input id="search" type="search" required>
                  <label class="label-icon" for="search">
                    <i class="material-icons">search</i>
                  </label>
                  <i class="material-icons">close</i>
                </div>
              </form>
            </div>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>-->
<div class="section white">
  <div class="row container-fluid">
    <div class="col s12 m12 l4 center">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1517048676732-d65bc937f952?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1005f3d059e15847f5b8e818aafe7b51&auto=format&fit=crop&w=750&q=80"
            alt="Postulaciones">
          <span class="card-title ">Mis postulaciones</span>
        </div>
        <div class="card-content">
          <p class="grey-text text-darken-3 lightten-3">Crea tu curriculum, muestra lo que sabes y de lo que estas hecho </p>
        </div>
        <div class="card-action">
          <a routerlink="/postulaciones">Ir a mis postulaciones</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l4 center">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1476231790875-016a80c274f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=52d21e330c0a86c06abc47beb451d20c&auto=format&fit=crop&w=750&q=80"
            alt="Contratos">
          <span class="card-title black-text">Mis contratos</span>
        </div>
        <div class="card-content">
          <p class="grey-text text-darken-3 lightten-3">Aplica a todas las propuestas en las que cumpla tu perfil</p>
        </div>
        <div class="card-action">
          <a routerlink="/postulaciones">Ver mis contratos</a>
        </div>
      </div>
    </div>
    <div class="col s12 m12 l4 center">
      <div class="card">
        <div class="card-image">
          <img src="https://images.unsplash.com/photo-1484981138541-3d074aa97716?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=809f456e326378d2a814bc660da69ffd&auto=format&fit=crop&w=750&q=80"
            alt="perfil">
          <span class="card-title black-text">Mi perfil</span>
        </div>
        <div class="card-content">
          <p class="grey-text text-darken-3 lightten-3">Si tu perfil es seleccionado preparate para empezar</p>
        </div>
        <div class="card-action">
          <a routerlink="/postulaciones">Ir a mi perfil</a>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="page-footer light-green">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Contractus
    </div>
  </div>
</footer>
