<nav class="nav-free">
  <div class="nav-wrapper">
    <a href="#!" class="brand-logo">Contractus</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger">
      <i class="material-icons">menu</i>
    </a>
    <ul class="right hide-on-med-and-down">
      <li>
        <a routerLink="/portal">Inicio</a>
      </li>
      <li>
        <a routerLink="/perfil">Usuario</a>
      </li>
    </ul>
  </div>
</nav>
<ul class="sidenav" id="mobile-demo">
  <li>
    <a routerLink="/portal">Inicio</a>
  </li>
  <li>
    <a routerLink="/perfil">Usuario</a>
  </li>
</ul>

<div class="container">
  <div class="row">
    <div class="col s12 m12 l12">
      <div class="row">
        <div class="col s12 m6">
          <div class="card white z-depth-3">
            <div class="card-content black-text">
              <span class="card-title">Card Title</span>
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require
                little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="#">This is a link</a>
              <a href="#">This is a link</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="page-footer light-green">
  <div class="footer-copyright">
    <div class="container">
      © 2014 Copyright Contractus
    </div>
  </div>
</footer>
