<header>
  <nav class="nav-free">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo">Contractus</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger">
        <i class="material-icons">menu</i>
      </a>
      <ul class="right hide-on-med-and-down">
        <li>
          <a routerLink="/portal">Inicio</a>
        </li>
        <li>
          <a routerLink="/perfil">Usuario</a>
        </li>
      </ul>
    </div>
  </nav>

  <ul id="nav-mobile" class="sidenav sidenav-fixed">
    <li class="center">
      <h3>
        Luis Daniel Gordo Navas
      </h3>
    </li>
    <li class="center">
      <img src="/assets/img/banner.jpg" alt="banner" class="resposive-img circle" style="height: 100px; width: 100px;">
    </li>
    <li>
      <a routerLink="/perfil">Datos Basicos</a>
    </li>
    <li>
      <a routerLink="/perfilProfesional">Datos Profesionales</a>
    </li>
    <li>
      <a routerLink="/portafolio">Portafolio</a>
    </li>
    <li>
      <a routerLink="/facturacion">Facturación</a>
    </li>
    <li>
      <a routerLink="/ofertas">Postulaciones</a>
    </li>
    <li>
      <a routerLink="/contratos">Mis contratos</a>
    </li>
  </ul>


</header>


<main>
  <div class="container">
    <div class="row">
      <div class="col s12 m12">

            <div class="col s12 m 12 l12">
              <h2>Datos profesionales</h2>
            </div>
            <div class="col s12 m12 l12">
              <form>
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="egresado" type="text" class="validate" value="">
                  <label for="egresado">Egresado Universidad</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="titulo" type="text" class="validate" value="">
                  <label for="titulo">Titulo</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">email</i>
                  <input id="numeroDiploma" type="text" class="validate" value="">
                  <label for="numeroDiploma">No Diploma</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">security</i>
                  <input id="user" type="text" class="validate" value="">
                  <label for="user">Acta de grado</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">email</i>
                  <input id="folio" type="text" class="validate" value="">
                  <label for="folio">Folio</label>
                </div>
                <div class="input-field col s6">
                  <i class="material-icons prefix">security</i>
                  <input id="fecha" type="date" class="validate" value="">
                  <label for="fecha">fecha</label>
                </div>
                <div class="input-field col s12">
                  <i class="material-icons prefix">security</i>
                  <textarea id="otros" class="materialize-textarea"> </textarea>
                  <label for="fecha">Otros titulos</label>
                </div>
                <a class="btn waves-effect waves-light blue right">Guardar</a>
              </form>
            </div>

      </div>
    </div>
  </div>
</main>










