<div class="container">
  <div class="row">
    <div class="col s12 m 12 l12">
      <h2>Datos profesionales</h2>
    </div>
    <div class="col s12 m12 l12">
      <form>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="user" type="text" class="validate" value="DannielNavas">
          <label for="user">Nombre de usuario</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">account_circle</i>
          <input id="nameuser" type="text" class="validate" value="Luis Daniel Gordo Navas">
          <label for="nameuser">Nombre</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">email</i>
          <input id="user" type="email" class="validate" value="dannielnavas@pm.me">
          <label for="user">Correo</label>
        </div>
        <div class="input-field col s6">
          <i class="material-icons prefix">security</i>
          <input id="user" type="password" class="validate" value="1602003139">
          <label for="user">Contraseña</label>
        </div>
      </form>
    </div>
  </div>
</div>
